# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.classpath
.project
.settings/
bin/

# Log files and other files generated in test or manual execution
*.log
*.back

test_*.xml
calls*.xls
excel_writer_test.xls

./Explore.Configuration.xml
./schema.xml
Speech analytics v2.xlsx
Speech analytics.xlsx

explore-importer-excel/Explore.Configuration.xml
explore-importer-excel/schema.xml

explore-importer-core/*.log
explore-importer-excel/*.log
explore-importer-mail/*.xlsx
explore-importer-mail/*.log
explore-importer-reddit/*.log
explore-importer-trustpilot/*.log
explore-importer-twitter/*.log
explore-importer-twitter/*.xml


